DB_TYPE=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=fscl
DB_PASSWORD=fscl
DB_NAME=fscl_process

APP_HOST=0.0.0.0
APP_PORT=3100

NATS_URL=nats://fscl:change-me@127.0.0.1:4222
NATS_JETSTREAM_STREAM=fscl-events
NATS_JETSTREAM_DURABLE_CONSUMER=process-api
NATS_JETSTREAM_ACK_POLICY=explicit
NATS_JETSTREAM_ACK_WAIT=30s